extends layout

block content
  h1 Kavita Bhardwaj
  p.
    I'm 20 years old. Enrolled in Computer Programming Diploma at Georgian. Currently in my last semester. Co-op work term after this. Graduation due in Summer 2021.