// layout.pug | Kavita Bhardwaj | Express Portfolio Site | HTML document for the layout of the website

doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/main.css')
    link(href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css", rel="stylesheet", integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk", crossorigin="anonymous")
  body
    a#class-name(href="/home") Home |  
    a#class-name(href="/aboutme") About Me | 
    a#class-name(href="/projects") Projects | 
    a#class-name(href="/services") Services | 
    a#class-name(href="/contactme") Contact Me 
    block content